*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx

# Android Studio 3 navigation editor temp files
.navigation/

# Android Studio 3.1+ CMake
CMakeLists.txt.user

# Android Studio 3.1+ layout rendering cache
layout-rendering-cache.xml

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase configuration (Sensitive)
app/google-services.json
